*{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
select {
	width: 330px;
	color: #606060;
	border: 1px solid #CCC;
	margin-left:5px;
	background:#fff;
}

table {
	color: #666;
	background-color:#999;
}

thead {
	text-transform:uppercase;
	font-size:7px;
	color:#FFF
}

tbody tr {
	background-color:#f2f2f2;
	font-size:8px;
}

tr td {
	padding:4px;
}